@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #fff;
  height: auto;
}

h1{
  font-size: 2rem; 
  text-transform: uppercase;
  font-weight: 400;
}

h2{
  font-size: 1rem;
  font-weight: 400;
}
img{
  display: block;
  width: 100%;
}
main{
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(
  0, 0, 0, 0.1), -30px 0px 40px rgba(0,0,0,0.1
  )
}
#landing{
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
#landing h2{
 color: #888;
}
#landing-image{
  display: flex;
  background: url(https://source.unsplash.com/De8wMYoSSBc);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn{
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 0.5rem 2rem; 
  border-radius: 50px;
  display: inline-block;
  margin: 2rem 0 0;
  transition: background 500ms ease;
}
.btn:hover{
  background: #f4f4f4;

}

#header {
  padding: 1.2rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2{
  border-left: dotted 1px white;
  border-right: dotted 1px white;
  display: inline;
  padding: 0rem 1rem;
}
.caption {
  padding: 0.8rem;
  text-align: center;
}
footer {
  padding: 2rem 1rem;
  text-align: center;
  margin: auto;
  color: #333;
}
footer h3{
  font-size: 3rem;
  margin-bottom: 0;
}

@media(min-width:500px){
  #landing{
    display: flex;
    height: 100%;
  }
  #landing-text{
    height: 100vh;
  }
  #landing-image{
    height: 100vh;
  }

}